@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Terms and conditions</h1>
</div>
<br />
<br />
<br />
<br />
<br />

<div class="card border-dark mb-12" style="max-width: 6000rem;">
    <div class="card-body">
        <p style="text-align:center">Insert terms and conditions here</p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>