@page
@model RZAWeb.Areas.Identity.Pages.Account.Manage.ManageAccountModel
@{
    ViewData["Title"] = "Manage account";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>Set your password</h3>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

