@using RZAWeb.Areas.Identity.Pages.Account.Manage

<h1>Reward Redeemed!</h1>

<p>Points spent: @ViewData["RewardCost"]</p>
<p>You now have @ViewData["UserPoints"] points remaining</p>
<p>The code to redeem your reward has been sent to your email address: @ViewData["UserEmail"]</p>