<div class="text-center">
    <h1 class="display-4">Educational visits</h1>
</div>
<br />
<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-md-7">
        <div class="card border-primary mb-7" style="max-width: 100rem;">
            <div class="card-body">
                <p class="card-text" style="text-align:center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam maecenas sed enim ut. Aliquet nec ullamcorper sit amet risus nullam eget. Malesuada fames ac turpis egestas. Auctor eu augue ut lectus arcu bibendum. Sit amet aliquam id diam maecenas. Id eu nisl nunc mi ipsum faucibus vitae. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Sagittis orci a scelerisque purus. Ut ornare lectus sit amet est placerat in. Egestas erat imperdiet sed euismod nisi. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Tortor vitae purus faucibus ornare. Quis imperdiet massa tincidunt nunc pulvinar sapien et. </p>
                <br />
                <h3 class="card-title" style="text-align:center">Educational visits</h3>
                <br />
                <img src="~/Images/Boy_Reading_Map.jpg" width="100%" height="100%"></img>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="align-content-center">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <p style="text-align:center">Book a fun and educational school trip for your students!</p>
            <br />
            <div class="align-content-center">
                <a asp-area="" asp-controller="BookZooTickets" asp-action="Create">
                    <div style="text-align:center">
                        <button class="btn btn-primary">
                            Book Now!
                        </button>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-3 ">
        <div class="card border-primary mb-3 style="max-width: 100rem;">
            <div class="card-body">
                <h3 class="card-title" style="text-align:center">Fun activities</h3>
                <br />
                <p class="card-text" style="text-align:center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam maecenas sed enim ut. Sit amet aliquam id diam maecenas. Id eu nisl nunc  consectetur adipiscing elit, </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 offset-1">
        <div class="card border-primary mb-3 style="max-width: 100rem;">
            <div class="card-body">
                <h3 class="card-title" style="text-align:center">Interesting topics</h3>
                <br />
                <p class="card-text" style="text-align:center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam maecenas sed enim ut. Sit amet aliquam id diam maecenas. Id eu nisl nunc  consectetur adipiscing elit, .</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 offset-1">
        <div class="card border-primary mb-3 style="max-width: 100rem;">
            <div class="card-body">
                <h3 class="card-title" style="text-align:center">Great experiences</h3>
                <br />
                <p class="card-text" style="text-align:center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam maecenas sed enim ut. Sit amet aliquam id diam maecenas. Id eu nisl nunc  consectetur adipiscing elit, </p>
            </div>
        </div>
    </div>
</div>
