<br />
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Information about our Zoo</h1>
</div>
<br />
<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-md-7">
        <div class="card border-primary mb-7" style="max-width: 100rem;">
            <div class="card-body">
                <p class="card-text" style="text-align:center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam maecenas sed enim ut. Aliquet nec ullamcorper sit amet risus nullam eget. Malesuada fames ac turpis egestas. Auctor eu augue ut lectus arcu bibendum. Sit amet aliquam id diam maecenas. Id eu nisl nunc mi ipsum faucibus vitae. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien et. Sagittis orci a scelerisque purus. Ut ornare lectus sit amet est placerat in. Egestas erat imperdiet sed euismod nisi. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis. Tortor vitae purus faucibus ornare. Quis imperdiet massa tincidunt nunc pulvinar sapien et. </p>
                <br />
                <h3 class="card-title" style="text-align:center">About our zoo</h3>
                <br />
                <img src="~/Images/Tiger_On_Rock.jpg" width="100%" height="100%"></img>
            </div>
        </div>
    </div>

    <div class="col-md-3 offset-2">
        <div class="align-content-center">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <p style="text-align:center">Enjoy a fun day out at the zoo. Come and see our fun attractions and wide range of wildlife!</p>
            <br />
            <div class="align-content-center">
                <div class="container">
                    <div class="center">
                        <a asp-area="" asp-controller="BookZooTickets" asp-action="Create">
                            <button class="btn btn-primary">
                                Book Now!
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-4 offset-1">
        <div class="card border-primary mb-3" style="max-width: 100rem;">
            <div class="card-body">
                <h3 style="text-align:center">Charity events</h3>
                <p style="text-align:center">Charity information goes here sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam maecenas sed enim ut. Aliquet nec ullamcorper sit amet</p>
                <br />
                <img src="~/Images/Big_Fish_Thing.jpg" width="100%" height="100%"></img>
            </div>
        </div>

    </div>
    <div class="col-md 4 offset-4">
        <h4>Opening times</h4>
        <table style="border-collapse: collapse; border: 1px solid black">
            <tr><th>Monday - Friday</th><td> ‎ ‎ ‎ ‎ 9am - 9pm<br></td>
            <tr><th></th><br /><td> ‎ ‎ ‎ ‎ <br></td>
            <tr><th>Saturday</th><br /><td> ‎ ‎ ‎ ‎ 7am - 11pm<br></td>
            <tr><th>Sunday</th><br /><td> ‎ ‎ ‎ ‎ 8am - 10pm<br></td>
        </table>
    </div>
</div>

<style>
    .container {
        height: 70px;
        position: relative;
        width: 50%;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
    }
</style>
